dist
dist-*
cabal-dev
*.o
*.hi
*.chi
*.chs.h
*.dyn_o
*.dyn_hi
*.iml
.hpc
.hsenv
.cabal-sandbox/
.idea/
ideaHaskellLib/
cabal.sandbox.config
*.prof
*.aux
*.hp
*.eventlog
.stack-work/
cabal.project.local
.HTF/
.Rhistory
cheetsheet.hs